
  <div class="page-header align-items-start min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');" loading="lazy">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-4 col-md-8 mt-7 col-12 mx-auto">
          <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">فراموشی رمز عبور</h4>
              </div>
            </div>
            <div class="card-body">
              <form action="/auth/updatepassword" class="form-horizontal" role="form" method="post">
                <%- include('./../../../errormessages')-%>
                <div class="input-group input-group-outline my-3">
                  <label for="passwordCurrent" class="form-label">کد ارسال شده به ایمیل</label>
                    <input id="passwordCurrent" type="password" class="form-control" name="passwordCurrent" value="" required>
                </div>
                <div class="input-group input-group-outline my-3">
                  <label for="password" class="form-label">پسورد</label>
                    <input id="password" type="password" class="form-control" name="password" value="" required>
                </div>
                <div class="input-group input-group-outline my-3">
                  <label for="passwordConfirm" class="form-label">تکرار پسورد</label>
                    <input id="passwordConfirm" type="password" class="form-control" name="passwordConfirm" value="" required>
                </div>
                <div class="form-group mt-3">
                  <button type="submit" class="btn btn-primary">بروزرسانی پسورد</button>
                </div>
                  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="mask bg-gradient-dark opacity-6"></span>