
<form role="form" action="/posts/<%= subject.slug %>" method="post">
    
    
    <%- include(viewPath('/errormessages')) -%>
      <button type="submit" class="btn btn-primary">خرید</button>

</form>

