<div
  class="justify-content-between align-items-center mb-3 border-bottom-1"
>
  <h2>دسته بندی ها</h2>
  <div class="btn-group">
    <a href="/admin/tags/create" class="btn btn-sm btn-primary"
      >ایجاد دسته جدید</a
    >
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>عنوان دسته</th>
          <th>نوع</th>
          <th>تنظیمات</th>
        </tr>
      </thead>
      <tbody>
        <% Tags.docs.forEach(tag => { %>
        <tr>
          <td><a href="#"><%= tag.name %></a></td>
          <td><%= tag.parent ? tag.parent.name : 'دسته اصلی' %></td>
          <td>
            <form
              action="/admin/tags/delete/<%= tag._id %>"
              method="post"
            >
              <div class="btn-group btn-group-sm">
                <a
                  href="/admin/tags/<%= tag._id %>/edit"
                  class="btn btn-primary"
                  >ویرایش</a
                >
                <button type="submit" class="btn btn-danger">حذف</button>
              </div>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
